<div class="container">
  <div class="row justify-content-center m-3">
    <div class="col-12 col-lg-8 bg-white pb-3">
      <h1 class="mt-3">Add a new cat</h1>
      <%= simple_form_for [@owner, @cat] do |f| %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.input :name %>
        <%= f.input :age %>
        <%= f.input :size, :collection => %w[small medium large]  %>
        <%= f.input :heavy_hair_loss %>
        <%= f.input :sweet_cuddly_temper %>
        <%= f.input :strong_purring %>
        <%= f.input :description %>
        <%= f.input :address %>
        <%= f.input :price_per_day %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
