<div class="container my-3">

  <div class="row justify-content-center my-2">
    <% @cat.photos.each do |photo| %>
      <div class="col-2">
        <%= cl_image_tag photo.key, crop: :fill, class: "img-thumbnail" %>
      </div>
    <% end %>
  </div>

  <div class="row justify-content-center">

    <div class="col-12 col-lg-6">
      <h1 class="py-2"><%= @cat.name %>'s details</h1>
      <p><strong>Age: </strong><%= @cat.age %></p>
      <p><strong>Size: </strong><%= @cat.size.capitalize %></p>
      <p><strong>Description: </strong><%= @cat.description %></p>
      <p><%= @cat.heavy_hair_loss ? "ðŸª® Heavy hair loss" : "" %></p>
      <p><%= @cat.sweet_cuddly_temper ? "â¤ï¸ Sweet cuddly temper" : "" %></p>
      <p><%= @cat.strong_purring ? "ðŸ’¤ Strong purring" : "" %></p>
      <p><strong>Lives in: </strong><%= @cat.address %></p>
      <p><strong>Proud pet of: </strong><%= @cat.owner.first_name %></p>
      <p><strong>Price per day: </strong><%= @cat.price_per_day %> $</p>
      <div class="my-3">
        <% if owner_signed_in? %>
          <%= link_to "Update details", cat_edit_path(@cat) %>
          <%= link_to "Delete cat", cat_delete_path(@cat),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <% end %>
      </div>
      <%= link_to "Back to all cats", owner_signed_in? ? owner_path(current_owner) : cats_path %>
    </div>

    <div class="col-12 col-lg-6">
      <h1 class="py-2"><%= @cat.name %>'s availabilities</h1>
      <ul>
        <% availabilities = Availability.where(cat_id: @cat.id).order(start_on: :asc) %>
        <% availabilities.each do |availability| %>
          <li>
            From <%= availability.start_on %> to <%= availability.end_on %>
            <% if owner_signed_in? %>
              <%= link_to "Delete", availability_delete_path(availability),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if owner_signed_in? %>
        <%= link_to "Add an availability", new_cat_availability_path(@cat) %>
        <div data-controller="toggle" class="mt-5">
          <button data-action="click->toggle#fire" class="btn btn-outline-primary mb-3">Add a new availability</button>
          <div data-toggle-target="togglableElement" class="d-none">
            <%= render "availabilities/new", { cat: @cat, availability: @availability } %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
