<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h1><%= @cat.name %>'s details</h1>
      <div class="mb-3">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% @cat.photos.each do |photo| %>
              <% if photo == @cat.photos.first %>
                <div class="carousel-item active">
                  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
                </div>
              <% else %>
                <div class="carousel-item">
                  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
                </div>
              <% end %>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <p><strong>Age: </strong><%= @cat.age %></p>
      <p><strong>Size: </strong><%= @cat.size.capitalize %></p>
      <p><strong>Description: </strong><%= @cat.description %></p>
      <p><%= @cat.heavy_hair_loss ? "ðŸª® Heavy hair loss" : "" %></p>
      <p><%= @cat.sweet_cuddly_temper ? "â¤ï¸ Sweet cuddly temper" : "" %></p>
      <p><%= @cat.strong_purring ? "ðŸ’¤ Strong purring" : "" %></p>
      <p><strong>Lives in: </strong><%= @cat.address %></p>
      <p><strong>Proud pet of: </strong><%= @cat.owner.first_name %></p>
      <p><strong>Price per day: </strong><%= @cat.price_per_day %> $</p>
      <div class="my-3">
        <% if owner_signed_in? %>
          <%= link_to "Update", cat_edit_path(@cat) %>
          <%= link_to "Delete", cat_delete_path(@cat),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <% end %>
      </div>
      <%= link_to "Back to all cats", owner_signed_in? ? owner_path(current_owner) : cats_path %>
    </div>
  </div>
</div>
