<div class="container my-3">
  <div class="row">
    <div class="col">
      <h1><%= @cat.name %>'s details</h1>
      <p><strong>Age: </strong><%= @cat.age %></p>
      <p><strong>Size: </strong><%= @cat.size.capitalize %></p>
      <p><strong>Description: </strong><%= @cat.description %></p>
      <p><%= @cat.heavy_hair_loss ? "ðŸª® Heavy hair loss" : "" %></p>
      <p><%= @cat.sweet_cuddly_temper ? "â¤ï¸ Sweet cuddly temper" : "" %></p>
      <p><%= @cat.strong_purring ? "ðŸ’¤ Strong purring" : "" %></p>
      <p><strong>Lives in: </strong><%= @cat.address %></p>
      <p><strong>Proud pet of: </strong><%= @cat.owner.first_name %></p>
      <p>Book it now for <%= @cat.price_per_day %> $/day !</p>
    </div>
  </div>
  <%= link_to "Back to all cats", owner_signed_in? ? owner_path(current_owner) : cats_path %>
</div>
